@import "utilities/variables";
@import "base/typo";
@import "layout/section";
@import "layout/header";
@import "layout/footer";
@import "layout/forms";
@import "utilities/icons";
@import "layout/articles";
@import "utilities/interpolations";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $color-gunmental;
    font-size: $font-size;
}

.margin-none {
  padding: 0;
}

