.icons {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.Ps {
    background-image: url("https://image.flaticon.com/icons/svg/552/552220.svg");
}
.Ai {
    width: 30px;
    height: 30px;
    background-image: url("https://image.flaticon.com/icons/svg/552/552222.svg");
}
.Id {
    width: 30px;
    height: 30px;
    background-image: url("https://image.flaticon.com/icons/svg/552/552223.svg");
}
.Vs {
    width: 30px;
    height: 30px;
    background-image: url("https://image.flaticon.com/icons/svg/906/906324.svg");
}
.Html {
    width: 30px;
    height: 30px;
    background-image: url("https://image.flaticon.com/icons/svg/226/226269.svg");
}
.Css {
    width: 30px;
    height: 30px;
    background-image: url("https://image.flaticon.com/icons/svg/732/732190.svg");
}