$color-gunmental: #303841;
$color-darkgrey: #333333;
$color-cultured: #eeeeee;
$color-verdigris: #006699;
$color-red-orange: #ff5722;
$color-coral: #ff824d;

$color-black: rgba(0, 0, 0, 0.2);

$box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
$boder-radius-outside: 0.5em;
$boder-radius-inside: 0.25em;

$padding-inside: 1em;

$border: 4px solid;
$border-gradient: linear-gradient(to bottom, $color-red-orange, $color-gunmental) 1;
$border-gradient-2: linear-gradient(to bottom, $color-verdigris, $color-gunmental) 1;
$border-gradient-3: linear-gradient(to top, $color-verdigris, $color-gunmental) 1;